<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Home page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" />
    <link rel="icon" type="image/png" href="../static/img/logo-4.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="../static/css/reset.css" rel="stylesheet" />
    <link href="../static/css/AppDetail.css" rel="stylesheet" />
    <link href="../static/css/SlideShow.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="main-navbar-wrapper">
      <div class="main-navbar">
        <div class="main-navbar-logo">
          <img src="../static/img/logo-4.png" alt="" />
          <span class="main-navbar-title">Froggy Download</span>
        </div>
        <div class="main-navbar-content">
          <div class="main-navbar-middle">
            <div class="main-navbar-middle-item">
              <div class="main-navbar-middle--dropdown">
                <div class="main-navbar-middle--dropdown-select">Category</div>
                <div class="main-navbar-middle--dropdown-list">
                  <div class="main-navbar-middle--dropdown-item">
                    <span class="Apps">Apps</span>
                    <ul class="dropdown--list">
                      <li class="dropdown-item">Food</li>
                      <li class="dropdown-item">Education</li>
                      <li class="dropdown-item">Love</li>
                      <li class="dropdown-item">Kids</li>
                      <li class="dropdown-item">Shopping</li>
                      <li class="dropdown-item">Home</li>
                      <li class="dropdown-item">Music</li>
                      <li class="dropdown-item">Photographer</li>
                      <li class="dropdown-item">Books</li>
                      <li class="dropdown-item">Events</li>
                      <li class="dropdown-item">Fitness</li>
                      <li class="dropdown-item">Sport</li>
                      <li class="dropdown-item">Weather</li>
                    </ul>
                  </div>
                  <div class="main-navbar-middle--dropdown-item">
                    <span class="games">Games</span>
                    <ul class="dropdown--list">
                      <li class="dropdown-item">Food</li>
                      <li class="dropdown-item">Education</li>
                      <li class="dropdown-item">Love</li>
                      <li class="dropdown-item">Kids</li>
                      <li class="dropdown-item">Shopping</li>
                      <li class="dropdown-item">Home</li>
                      <li class="dropdown-item">Music</li>
                      <li class="dropdown-item">Photographer</li>
                      <li class="dropdown-item">Books</li>
                      <li class="dropdown-item">Events</li>
                      <li class="dropdown-item">Fitness</li>
                      <li class="dropdown-item">Sport</li>
                      <li class="dropdown-item">Weather</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-navbar-middle-item">About Us</div>
          </div>
          <div class="main-navbar-middle-item btn-search">
            <input
              class="main-navbar-item-input-search"
              type="text"
              placeholder="Search..."
            />
            <button type="submit" class="main-navbar-item-btn-search">
              <ion-icon name="search-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </nav>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
