<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../static/css/reset.css" rel="stylesheet" />
    <link href="../static/css/SlideShow.css" rel="stylesheet" />
  </head>
  <body>
    <div class="slider">
      <div class="slider-wrapper">
        <div class="slider-container">
          <div class="slide-item fade">
            <div class="slide-item-name">Item 1</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 2</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 3</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 4</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 5</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 6</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 7</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 8</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 9</div>
          </div>
          <div class="slide-item fade">
            <div class="slide-item-name">Item 10</div>
          </div>
          <!-- Nút điều hướng trước/sau -->
        </div>
        <div class="prev">prev</div>
        <div class="next">next</div>
      </div>
    </div>
    <script src="../static/js/slider.js"></script>
  </body>
</html>
